@import url(/styles/fonts.css);
@import url(/styles/layout.css);


.wrapper {
    min-width: 100%;
}

.section-one {
    background-image: url(/images/image.png);
    min-width: 100%;
    background-size: cover;
    object-fit: fill;
    height: 100vh;
    position: relative;
    padding-bottom: 150px;
}
.bng__color {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-bottom: 150px;
}
.one {
    background: linear-gradient(90.2deg, rgba(2, 2, 2, 0.58) 0.16%, rgba(196, 196, 196, 0) 99.83%);
}
.start-page {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
}

.title {
    font-weight: 300;
    font-size: 44px;
    line-height: 56px;
    font-family: 'Zilla Slab', serif;
}
.subtitle {
    font-weight: 200;
    font-size: 19px;
    line-height: 30px;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 35px 0;
    letter-spacing: .9;
}
.start__btn {
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%);
    border: none;
    padding: 15px 60px;
    margin-right: 10px;
}
.info__btn {
    background: transparent;
    border: 1px solid #fff;
    padding: 13px 53px;
}
.start__btn, .info__btn {
    border-radius: 20px;
    color: var(--font-color);
    text-transform: uppercase;
    cursor: pointer;
}

.section-two {
    /* margin-top: -44px; */
    padding-bottom: 190px;
    background: linear-gradient(90deg, #F27A54 -21.05%, #A154F2 121.05%), #3C444C;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
    background-size: cover;
    object-fit: fill;
    height: 80vh;
}
.products {
    width: 1226px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
    color: var(--font-color)
}

.product-left > .title {
    width: 280px;
}

.product-left > .subtitle {
    width: 400px;
}

.btns > .white {
    background: var(--font-color);
    color: #30363C;
}
.phone__img  {
    overflow-y: hidden;
    
}
.section-three {
    position: relative;
}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.about-left {
    background: #3C444C;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--font-color)
    
}
.video {
    width: 100%;
}
.about-left > .title {
    width: 280px;
    text-align: center;
    
}

.about-left > .subtitle {
    width: 400px;
    text-align: center;
    opacity: .8;
}

.about-left > .start__btn {
    background: var(--font-color);
    color: #30363C;
    position: relative;
}

.about-left > .start__btn::after {
    content: url(/images/keyboard_arrow_right.svg);
    position: absolute;
    top: 15px;
    right: 26px;
}
.about-right {
    position: relative;
}
.bng__video {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(161, 84, 242, 0.7) -12.89%, rgba(242, 122, 84, 0.7) 114.44%);
}

.bng__video::before {
    content: url(/images/play_circle_filled.svg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-four {
    background-image: url(/images/team.png);
    background-size: cover;
    min-width: 100%;
    background-size: cover;
    position: relative;
    padding-bottom: 150px;
    height: 100vh;
}
.two {
    background: linear-gradient(90deg, #3C444C 0%, rgba(60, 68, 76, 0) 100%);
    filter: drop-shadow(0px 30px 40px rgba(0, 0, 0, 0.1));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.back {
    position: absolute;
    top: 44px;
    left: 160px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
}
.back::before {
    content: url(/images/arrow_back.svg);
    position: absolute;
    top: -3px;
    left: -30px;
}
.category-page {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.last__title {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    font-weight: 300;
    font-size: 44px;
    line-height: 56px;
    font-family: 'Zilla Slab', serif;
}
.comments {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    font-family: 'Zilla Slab', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 19px;
}

.date, .comment {
    position: relative;
}
.date::before {
    content: url(/images/access_time\ \(1\).svg);
    position: absolute;
    top: 2px;
    left: -26px;
}

.comment::before {
    content: url(/images/chat_bubble.svg);
    position: absolute;
    top: 2px;
    left: -26px;
}